<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="caminhoArquivo" value="C:\Users\SistemasBr\source\repos\RastreadorDeTorneio\RastreadorBiblioteca\DadosTexto"/>
		<add key="maiorVence" value="1"/>
		<add key="enviarEmail" value="leonardodlima10@hotmail.com"/>
		<add key="enviarMostrarEmail" value="Bruxo"/>
	</appSettings>
	<connectionStrings>
		<add name="Torneio" connectionString="Server=DESKTOP-D08E92P\BRUXO; Database=Torneio;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>